<h1>New Recipe</h1>
<%= form_tag recipes_path do %>
<div>
  <%= label_tag "recipe_form[name]", "Name" %>
  <%= text_field_tag "recipe_form[name]" %>
</div>
<div>
  <%= label_tag "recipe_form[description]", "Description" %>
  <%= text_field_tag "recipe_form[description]" %>
</div>
<div>
  <% Ingredient.all.each do |ingredient| %>
  <div>
    <%= check_box_tag "recipe_form[ingredients][#{ingredient.id}][]", ingredient.id %>
    <%= label_tag "recipe_form[ingredients][#{ingredient.id}][]", ingredient.name %>
    <%= text_field_tag "recipe_form[ingredients][#{ingredient.id}][]", nil, :placeholder => "Unit" %>
    <%= text_field_tag "recipe_form[ingredients][#{ingredient.id}][]", nil, :placeholder => "Measurement" %>
    <%= text_field_tag "recipe_form[ingredients][#{ingredient.id}][]", nil, :placeholder => "Preparation" %>
  </div>
  <% end %>
</div>
<div>
  <%= label_tag "recipe_form[ingredient]", "Add Ingredients(separated by a comma)" %>
  <%= text_field_tag "recipe_form[ingredient]" %>

</div>
<div>
  <%= submit_tag %>
</div>
<% end %>
