<h1>New Recipe</h1>
<%= form_tag recipes_path do %>
<div>
  <%= label_tag "recipe_form[name]", "Name" %>
  <%= text_field_tag "recipe_form[name]" %>
</div>
<div>
  <%= label_tag "recipe_form[servings]", "Servings" %>
  <%= text_field_tag "recipe_form[servings]" %>
</div>
<div>
  <%= label_tag "recipe_form[cooking_time]", "Cooking Time" %>
  <%= text_field_tag "recipe_form[cooking_time]" %>
</div>
<div>
  <div>Select &amp; Add Ingredients</div>
  <% Ingredient.all.each do |ingredient| %>
  <div>
    <%= check_box_tag "recipe_form[ingredients][#{ingredient.id}][]", ingredient.id %>
    <%= label_tag "recipe_form[ingredients][#{ingredient.id}][]", ingredient.name %>
    <%= text_field_tag "recipe_form[ingredients][#{ingredient.id}][]", nil, :placeholder => "Measurement" %>
    <%= text_field_tag "recipe_form[ingredients][#{ingredient.id}][]", nil, :placeholder => "Cup/Tbsp/tsp/lb" %>
    <%= text_field_tag "recipe_form[ingredients][#{ingredient.id}][]", nil, :placeholder => "Preparation" %>
  </div>
  <% end %>
</div>
<div>
  <% (1..5).each do |n| %>
  <div>
    <%= label_tag "recipe_form[ingredient][#{n}][]", "Add Ingredient" %>
    <%= text_field_tag "recipe_form[ingredient][#{n}][]", nil, :placeholder => "Name" %>
    <%= text_field_tag "recipe_form[ingredient][#{n}][]", nil, :placeholder => "Measurement" %>
    <%= text_field_tag "recipe_form[ingredient][#{n}][]", nil, :placeholder => "Cup/Tbsp/tsp/lb" %>
    <%= text_field_tag "recipe_form[ingredient][#{n}][]", nil, :placeholder => "Preparation" %>
  </div>
  <% end %>
</div>
<div>
  <%= label_tag "recipe_form[directions]", "Directions" %>
  <%= text_area_tag "recipe_form[directions]" %>
</div>
<div>
  <%= submit_tag %>
</div>
<% end %>
